# Pasos a seguir para hacer funcionar la aplicación.
# Elegir un directorio que vigilar con el botón seleccionar directorio
# Seleccionar del menú desplegable el hash a utilizar
# Seleccionar el intervalo de tiempo entre examenes en segundos
# Iniciar el examen lanza el programa con la configuración establecida
# Para pararlo, finalmente pulsar parar el examen
# Abrir gráfico histórico muestra los errores de todo el log
# Abrir último gráfico muestra una representación del último log guardado en el fichero
